body {
  font-family: Graphik, "Helvetica Neue", sans-serif;
}

h1 {
  font-family: Stuart, Georgia, serif;
}

label {
  font-weight: bold;
  display: block;
}

input {
  font-size: 1.6rem;
  border-radius: 0.4rem;
}

.input-group {
  margin: 1.6rem;
}

button {
  background-color: #1f513f;
  color: white;
  /* box-shadow: inset 0 0 0 10px #1f513f; */
}
